.left-wrapper {
  position: fixed;
  left: 2em;
  top: 25%;
  text-align: center;
  z-index: 5;
  transform: translateX(-50%);
  pointer-events: none;
}

.left-wrapper .bar-theme {
  border-radius: 5px;
}

@media only screen and (max-height: 928px) and (orientation: landscape) {
  .left-wrapper {
    top: 10%;
  }
}
