.arrow-wrapper {
  position: fixed;
  top: 55%;
  width: 100%;
}

.arrow-theme {
  display: flex;
  justify-content: space-between;
}

.arrow-theme div {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .arrow-wrapper {
    top: 85vh;
  }
}
