.bottom-wrapper {
  position: fixed;
  left: 50%;
  bottom: 10px;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);

  display: flex;
  justify-content: flex-end;
}

.bar-theme {
  color: #fff;
  background-color: #373737;
  box-shadow: 1px 3px 10px 0 rgb(0 0 0 / 50%);
  margin-left: 8px;
  pointer-events: all;
  text-align: center;
}

.button {
  position: relative;
  cursor: pointer;
  width: 28px;
  height: 28px;
  padding: 10px;
  border-bottom: 1px solid rgba(34, 34, 34, 0);
  outline: none;
}

.button:hover {
  background-color: #ff8000;
}

.bottom-wrapper .bar-theme {
  display: flex;
}

.bottom-wrapper .bar-theme .button {
  float: left;
  float: left;
  align-items: center;
  justify-content: center;
  display: flex;
}
